body {
  background: rgb(145, 227, 255);
  background: linear-gradient(90deg, #C9FFBF 6%, #FFAFBD 100%);
  font-family: 'Impact';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
}

.head h1 {
  color: #3D8D7A;
  margin-bottom: 40px;
}

button {
  color: #3D8D7A;
  width: 80px;
  height: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Impact';
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.checkedBut {
  background-color: #B3D8A8;
  color: #255F38;
}

.delBut {
  background-color: #FFC1DA;
  color: #BE5985;
}

.result {
  margin: 40px 0 0 0;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F4F8D3;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  word-wrap: break-word;
}

.tasks span {
  margin-right: 80px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  flex: 1;
  /* ให้ข้อความกินพื้นที่เหลือ */
  min-width: 0;
}


input {
  width: 300px;
  height: 36px;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-right: 30px;
  border: none;
  background-color: #FAF6E9;
  font-family: 'Impact';
  padding-left: 10px;
}